__pycache__/*
*.pyc
# файлы данных
*.npy
*.npz
*.csv
*.7z
# папка с данными
datas/*
# локальные настройки vs code
.vscode/*
# временные
tmp*
# логи
logs/*
results/.fuse_*
# модели
models/*
ckpt/*
*.h5
*.tf 
*.ckpt.*
checkpoint
*.pb
*.tflite
variables.*
# архивы
*.zip
*.gz
# БД
*.sqlite
# мусор
trash
# логи
*.log
config.json

